name: Douyin Reporter

on:
  schedule:
    # 每天北京时间早上 10:00 运行 (UTC 2:00)
    - cron: '35 6 * * *'
  workflow_dispatch: # 允许你手动点击按钮运行

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install requests

      - name: Run script
        env:
          # 将 Secrets 映射为环境变量
          SEC_USER_ID: ${{ secrets.SEC_USER_ID }}
          DING_WEBHOOK: ${{ secrets.DING_WEBHOOK }}
          DING_SECRET: ${{ secrets.DING_SECRET }}
          TZ: Asia/Shanghai
        run: python main.py
